.theapp__container {
  height: 1100px;
  background: #5c1a8d;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  padding: 100px;
}
.theapp__container-title {
  width: 620px;
  height: 130px;
  font-family: "CeraPRO-Regular";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 40px;
  letter-spacing: -0.01em;
  color: #ffffff;
  margin: 0px 205px;
}

.theapp__container-body {
  width: 500px;
  height: 75px;
  font-family: "CeraPRO-Regular";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 114.5%;
  letter-spacing: -0.01em;
  color: #e0e0e0;
  margin: 30px 265px;
}

.theapp__container-image {
  height: 650px;
  width: 390px;
  filter: drop-shadow(15px 10px 70px rgba(0, 0, 0, 0.2));
}
.theapp__container-content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 653px;
}
.theapp__container-content-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  height: 553px;
  width: 490px;
  /* margin: 100px 0px 0px; */
  /* background: black; */
  animation-name: content;
  animation-duration: 3s;
  animation-fill-mode: forwards;
  position: relative;
}

@keyframes content {
  0% {
    left: 1000px;
  }
  100% {
    left: 0;
  }
}

.theapp__container-content-body-1 {
  width: 490px;
  height: 86px;
  display: flex;
  flex-direction: row;
  /* gap: 1.5rem; */
  /* Inside auto layout */
  margin: 0px 0px 20px;
}
.theapp__container-content-body-2 {
  width: 490px;
  height: 108px;
  display: flex;
  flex-direction: row;
  margin: 0px 0px 10px;
}
.theapp__container-content-body-3 {
  width: 490px;
  height: 129px;
  display: flex;
  flex-direction: row;
}

.logo-box {
  width: 60px;
  height: 80px;
  margin: 20px 30px 0px 0px;
}
.theapp__container-content-body-1-logo {
  width: 60px;
  height: 60px;
  background: #f2c94c;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.theapp__container-content-body-2-logo {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  /* Gray 6 */
  background: #f2f2f2;
  display: flex;
  justify-content: center;
  align-items: center;
}
.theapp__container-content-body-3-logo {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f2f2f2;
}
.theapp__container-content-body-1-logo-text {
  width: 30px;
  height: 16px;
  font-family: "CeraPRO-Regular";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  text-align: center;
  letter-spacing: -0.01em;
  color: #000000;
}
.theapp__container-content-body-2-logo-text {
  width: 30px;
  height: 16px;
  font-family: "CeraPRO-Regular";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 114.5%;
  /* identical to box height, or 16px */

  text-align: center;
  letter-spacing: -0.01em;

  color: #000000;
}
.theapp__container-content-body-3-logo-text {
  width: 30px;
  height: 16px;
  font-family: "CeraPRO-Regular";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 114.5%;
  /* identical to box height, or 16px */

  text-align: center;
  letter-spacing: -0.01em;

  color: #000000;
}

.theapp__container-content-body-1-logo-digit {
  width: 6px;
  height: 16px;
  font-family: "Brown";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 114.5%;
  /* identical to box height, or 16px */

  text-align: center;
  letter-spacing: -0.01em;

  color: #000000;
}
.theapp__container-content-body-2-logo-digit {
  width: 8px;
  height: 16px;
  font-family: "Brown";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 114.5%;
  /* identical to box height, or 16px */

  text-align: center;
  letter-spacing: -0.01em;

  color: #000000;
}
.theapp__container-content-body-3-logo-digit {
  width: 8px;
  height: 16px;
  font-family: "Brown";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 114.5%;
  /* identical to box height, or 16px */

  text-align: center;
  letter-spacing: -0.01em;

  color: #000000;
}

.theapp__container-content-body-1-title {
  height: 30px;
  font-family: "CeraPRO-Regular";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 112.5%;
  text-align: left;
  margin-bottom: 15px;
  /* identical to box height, or 27px */

  letter-spacing: -0.01em;

  /* White */

  color: #ffffff;
}
.theapp__container-content-body-2-title {
  /* width: 230px; */
  height: 27px;
  font-family: "CeraPRO-Regular";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 112.5%;
  text-align: left;
  margin-bottom: 15px;
  /* identical to box height, or 27px */

  letter-spacing: -0.01em;

  /* White */

  color: #ffffff;
}
.theapp__container-content-body-3-title {
  /* width: 147px; */
  height: 27px;
  font-family: "CeraPRO-Regular";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 112.5%;
  text-align: left;
  margin-bottom: 15px;
  /* identical to box height, or 27px */

  letter-spacing: -0.01em;

  /* White */

  color: #ffffff;
}

.theapp__container-content-body-1-body {
  /* width: 379px; */
  text-align: left;
  height: 43px;
  font-family: "CeraPRO-Regular";
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 20px;
  /* or 20px */
  letter-spacing: -0.01em;
  /* Gray 7 */
  color: #f7f7f7;
}
.theapp__container-content-body-2-body {
  height: 64px;
  font-family: "CeraPRO-Regular";
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 20px;
  text-align: left;
  /* or 20px */

  letter-spacing: -0.01em;

  /* Gray 7 */

  color: #f7f7f7;
}
.theapp__container-content-body-3-body {
  height: 89px;
  font-family: "CeraPRO-Regular";
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 20px;
  text-align: left;
  /* or 21px */
  letter-spacing: -0.01em;
  /* Gray 5 */
  color: #e0e0e0;
}

@media screen and (max-width: 1024px) {
  .theapp__container-image {
    height: 550px;
    width: 290px;
  }
  .theapp__container-title {
    width: 820px;
    height: 130px;
    font-size: 46px;
    line-height: 45px;
  }

  .theapp__container-body {
    width: 600px;
    height: 75px;
    font-size: 30px;
  }
  /* .theapp__container-content-body {
    height: 653px;
    width: 590px;
  } */
  .theapp__container-content-body-1-title,
  .theapp__container-content-body-2-title,
  .theapp__container-content-body-3-title {
    font-size: 34px;
  }
  .theapp__container-content-body-1-body,
  .theapp__container-content-body-2-body,
  .theapp__container-content-body-2-body {
    font-size: 20px;
  }

  .theapp__container-content-body-1-logo,
  .theapp__container-content-body-2-logo,
  .theapp__container-content-body-3-logo {
    width: 70px;
    height: 70px;
  }

  .theapp__container-content-body-1-logo-digit,
  .theapp__container-content-body-2-logo-digit,
  .theapp__container-content-body-3-logo-digit {
    font-size: 18px;
    font-weight: 900;
    margin-left: 0.3rem;
  }
  .theapp__container-content-body-1-logo-text,
  .theapp__container-content-body-2-logo-text,
  .theapp__container-content-body-3-logo-text {
    font-size: 18px;
    font-weight: 900;
  }
}

@media screen and (max-width: 900px) {
  .theapp__container-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 1100px;
    align-items: center;
  }
  .theapp__container {
    height: 1500px;
  }
  .theapp__container-title {
    width: 620px;
    height: 130px;
    font-size: 36px;
    line-height: 45px;
  }
  .theapp__container-image {
    height: 650px;
    width: 390px;
    padding-top: 25px;
  }

  .theapp__container-content-body-1,
  .theapp__container-content-body-2,
  .theapp__container-content-body-3 {
    width: 390px;
  }
  .theapp__container-content-body-1-title,
  .theapp__container-content-body-2-title,
  .theapp__container-content-body-3-title {
    font-size: 30px;
  }

  .theapp__container-content-body-3-title {
    margin-top: 1rem;
  }

  .theapp__container-content-body-1-logo-text,
  .theapp__container-content-body-2-logo-text,
  .theapp__container-content-body-3-logo-text {
    font-size: 16px;
  }
}

@media screen and (max-width: 600px) {
  .theapp__container {
    height: 1600px;
  }
  .theapp__container-title {
    width: 420px;
    height: 230px;
    font-size: 46px;
    line-height: 45px;
    margin: 10px 0px;
  }

  .theapp__container-body {
    margin-top: 30px;
    width: 100%;
    height: 75px;
    margin: 0px 0px;
  }
}

@media screen and (max-width: 676px) {
  .theapp__container-content-body-1-title,
  .theapp__container-content-body-2-title,
  .theapp__container-content-body-3-title {
    font-size: 28px;
  }
  .theapp__container-content-body-1-body,
  .theapp__container-content-body-2-body,
  .theapp__container-content-body-3-body {
    font-size: 16px;
    width: 290px;
  }

  .theapp__container-content-body-1-logo,
  .theapp__container-content-body-2-logo,
  .theapp__container-content-body-3-logo {
    width: 60px;
    height: 60px;
  }

  .theapp__container-content-body-1-logo-digit,
  .theapp__container-content-body-2-logo-digit,
  .theapp__container-content-body-3-logo-digit {
    font-size: 18px;
    font-weight: 900;
    margin-left: 0.3rem;
  }
  .theapp__container-content-body-1-logo-text,
  .theapp__container-content-body-2-logo-text,
  .theapp__container-content-body-3-logo-text {
    font-size: 18px;
    font-weight: 900;
  }
  .theapp__container-title {
    font-size: 30px;
    height: 160px;
  }
  .theapp__container-body {
    font-size: 25px;
  }
  .theapp__container-content-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* gap: 20px; */
    height: 553px;
    width: 100%;
    margin: 0px;
    /* margin: 100px 0px 0px; */
  }

  .theapp__container-content-body-1,
  .theapp__container-content-body-2,
  .theapp__container-content-body-3 {
    margin: 10px 0px;
    width: 390px;
  }

  .theapp__container-image {
    height: 650px;
    width: 390px;
    padding: 40px 10px;
  }
}
@media screen and (max-width: 500px) {
  .theapp__container-content-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* gap: 20px; */
    height: 553px;
    width: 100%;
    margin: 0px;
    /* margin: 100px 0px 0px; */
  }

  .theapp__container-content-body-1-title,
  .theapp__container-content-body-2-title,
  .theapp__container-content-body-3-title {
    font-size: 24px;
  }
  .theapp__container-content-body-1-body,
  .theapp__container-content-body-2-body,
  .theapp__container-content-body-3-body {
    font-size: 14px;
    width: 290px;
  }
}

@media screen and (max-width: 450px) {
  .theapp__container {
    padding: 50px;
  }
  .theapp__container-title {
    width: 100%;
    height: 130px;
    font-size: 26px;
    line-height: 30px;
  }
  .theapp__container-body {
    margin-top: 30px;
    font-size: 16px;
  }

  .theapp__container-image {
    width: 300px;
    height: 530px;
    margin-left: 20px;
    padding: 0px 0px 0px 0px;
  }
  .app-img-box {
    width: 300px;
    padding: 0px;
  }

  .theapp__container-content-body {
    margin-top: -80px;
  }
  .theapp__container-content {
    width: 100%;
    margin-left: -50px;
  }

  .theapp__container-content-body-1,
  .theapp__container-content-body-2,
  .theapp__container-content-body-3 {
    /* margin-top: 10px; */
    width: 320px;
    margin-left: 80px;
    padding: 0px 0px 0px 0px;
  }

  .theapp__container-content-body-1-body,
  .theapp__container-content-body-2-body,
  .theapp__container-content-body-3-body {
    font-size: 14px;
    width: 250px;
  }

  .theapp__container-content-body-1-title,
  .theapp__container-content-body-2-title,
  .theapp__container-content-body-3-title {
    font-size: 24px;
    width: 250px;
    margin-bottom: 10px;
  }

  .theapp__container {
    height: 1300px;
  }

  .theapp__container-content-body-1-logo,
  .theapp__container-content-body-2-logo,
  .theapp__container-content-body-3-logo {
    width: 50px;
    height: 50px;
  }

  .logo-box {
    width: 50px;
    height: 70px;
    margin: 10px 15px 0px 0px;
  }

  .theapp__container-content-body-1-logo-text,
  .theapp__container-content-body-2-logo-text,
  .theapp__container-content-body-3-logo-text {
    font-size: 14px;
  }

  .theapp__container-content-body-1-logo-digit,
  .theapp__container-content-body-2-logo-digit,
  .theapp__container-content-body-3-logo-digit {
    font-size: 15px;
  }
}
