.about {
  height: 950px;
  background: linear-gradient(
    to right,
    rgba(167, 146, 254, 0.07) 50%,
    white 50%
  );
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.about__content {
  /* height: 468px; */
  display: grid;
  grid-template-columns: 350px 350px;
  gap: 5rem 5rem;
}

.about__title {
  /* background: blue; */
  font-family: "Cera Pro";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 112.5%;
  /* identical to box height, or 40px */
  text-align: center;
  letter-spacing: -0.01em;
  color: #232c35;
  margin-bottom: 5rem;
}

.about__content-1-logo {
  width: 64px;
  height: 64px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  margin-bottom: 1.5rem;
  background: #56ccf2;
}
.about__content-2-logo {
  width: 64px;
  height: 64px;
  /* Yellow */

  background: #f2c94c;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  margin-bottom: 1.5rem;
}
.about__content-3-logo {
  border-radius: 50%;

  width: 64px;
  height: 64px;
  /* Green 3 */
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  margin-bottom: 1.5rem;
  background: #6fcf97;
}
.about__content-4-logo {
  width: 64px;
  height: 64px;
  /* Purple 2 */
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  margin-bottom: 1.5rem;
  background: #bb6bd9;
}

.about__content-1-title {
  height: 23px;
  font-family: "Cera Pro";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 112.5%;
  /* identical to box height, or 22px */

  letter-spacing: -0.01em;

  color: #232c35;
  margin-bottom: 1rem;
}
.about__content-2-title {
  height: 23px;
  font-family: "Cera Pro";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 112.5%;
  /* identical to box height, or 22px */

  letter-spacing: -0.01em;

  color: #232c35;
  margin-bottom: 1rem;
}
.about__content-3-title {
  height: 23px;
  font-family: "Cera Pro";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 112.5%;
  /* identical to box height, or 22px */

  letter-spacing: -0.01em;

  color: #232c35;
  margin-bottom: 1rem;
}
.about__content-4-title {
  height: 23px;
  font-family: "Cera Pro";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 112.5%;
  /* identical to box height, or 22px */
  letter-spacing: -0.01em;
  color: #232c35;
  margin-bottom: 1rem;
}
.about__content-1-body {
  height: 89px;
  font-family: "Cera Pro";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 120%;
  /* or 22px */

  letter-spacing: -0.01em;

  /* Gray 2 */

  color: #4f4f4f;
}
.about__content-2-body {
  height: 89px;
  font-family: "Cera Pro";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 120%;
  /* or 22px */

  letter-spacing: -0.01em;

  /* Gray 2 */

  color: #4f4f4f;
}
.about__content-3-body {
  height: 89px;
  font-family: "Cera Pro";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 120%;
  /* or 22px */

  letter-spacing: -0.01em;

  /* Gray 2 */

  color: #4f4f4f;
}
.about__content-4-body {
  height: 89px;
  font-family: "Cera Pro";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 120%;
  /* or 22px */

  letter-spacing: -0.01em;

  /* Gray 2 */

  color: #4f4f4f;
}

@media screen and (max-width: 1024px) {
  .about__content {
    gap: 1rem;
  }
}
@media screen and (max-width: 768px) {
  .about__content {
    display: grid;
    grid-template-columns: 250px 250px;
    gap: 2.5rem 2.5rem;
  }
}

@media screen and (max-width: 576px) {
  .about__content {
    gap: 10px;
    display: grid;
    grid-template-columns: auto;
    justify-content: center;
    align-items: center;
  }
  .about__title {
    /* background: blue; */
    font-family: "Cera Pro";
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 112.5%;
    /* identical to box height, or 40px */
    text-align: center;
    letter-spacing: -0.01em;
    color: #232c35;
    margin: 2rem;
  }

  .about__grid {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .about__content-1-logo,
  .about__content-1-title
  .about__content-2-logo,
  .about__content-2-title,
  .about__content-3-logo,
  .about__content-3-title
  .about__content-4-logo,
  .about__content-4-title
  {
    margin-bottom: .5rem;
  }
}
