@import url(//db.onlinewebfonts.com/c/917a69d24b88e2d4d2ca803c0605bd59?family=CeraPRO-Regular);

@font-face {
  font-family: "CeraPRO-Regular";
  src: url("//db.onlinewebfonts.com/t/917a69d24b88e2d4d2ca803c0605bd59.eot");
}
.hero__container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 0 100px;
  margin-left: auto;
  margin-right: auto;
  height: 523px;
  gap: 2rem;
}
.hero__container-text {
  display: flex;
  flex-direction: column;
  /* background-color: green; */
  margin: 150px 0px 0px 50px;
  width: 441px;
  height: 389px;
}
.hero__container-title {
  width: 480px;
  height: 106px;
  font-style: normal;
  font-weight: bold;
  font-size: 53px;
  line-height: 53px;
  color: #232c35;
  margin-bottom: 20px;
  letter-spacing: -2px;
  font-family: "CeraPRO-Regular";
}

.hero__container-content {
  width: 440px;
  height: 50px;
  /* margin-top: 1rem; */
  font-family: "CeraPRO-Regular";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 114.5%;
  /* or 23px */
  letter-spacing: -0.01em;
  /* Gray 2 */
  color: #4f4f4f;
}

.hero__container-image,
.hero__container-img {
  width: 562px;
  height: 524px;
}

@media screen and (max-width: 1024px) {
  .hero__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* margin-top: -5rem; */

    padding: 0px;
  }
  .hero__container-title {
    width: 535px;
    text-align: center;
    height: 100px;
    font-size: 48px;
  }
  .hero__container-content {
    width: 535px;
    text-align: center;
    font-size: 23px;
  }
  .hero__container-image,
  .hero__container-img {
    width: 335px;
    height: 320px;
    margin-left: 2rem;
  }
  .hero__container-text {
    margin: 0;
  }
}
@media screen and (max-width: 900px) {
  .hero__container-image,
  .hero__container-img {
    width: 335px;
    height: 320px;
    /* margin-left: 2rem; */
    /* background-color: red; */
  }
  .hero__container {
    padding-right: 120px;
  }
}
@media screen and (max-width: 676px) {
  .hero__container-title {
    width: 100%;
    margin-left: 30px;
  }

  .hero__container {
    padding: 0px;
    margin-left: -60px;
  }

  .hero__container-image,
  .hero__container-img {
    margin-left: 20px;
  }

  .hero__container-content {
    width: 100%;
    margin-left: 30px;
  }
}
@media screen and (max-width: 450px) {
  .hero__container-title {
    font-size: 33px;
    line-height: 35px;
    height: 50px;
    /* margin: 0px; */
    margin-bottom: 50px;
    margin-left: 25px;
    width: 311px;
  }
  .hero__container-text {
    height: 200px;
    width: 300px;
  }
  .hero__container-content {
    height: 50px;
    font-size: 16px;
    width: 100%;
    margin-left: 35px;
  }
  .hero__container-image,
  .hero__container-img {
    margin-left: 20px;
    margin-top: -9px;
  }
  .hero__container {
    height: 480px;
  }
}
